* {
  margin: 0px;
  padding: 0px;
}

div {
  margin: auto;
  width: fit-content;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}
h4 {
  font-family: roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 35px;
  color: #a0a2a6;
  margin-top: 24px;
}

img {
  height: 51px;
}

body {
  display: flex;
  background: #544e4e;
}
